apiVersion: v1
kind: ConfigMap
metadata: 
  name: setters
data:
  project-id: ${project_id}
  sky-team-name: ${sky_team_name}
  billing-account-id: ${billing_account_id}
  project-namespace: ${project_namespace}
  projects-namespace: ${projects_namespace}
  system-admin-group: ${system_admin_group}
  


